@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body { 
  font-family: 'Open Sans Condensed'; 
  color: #181818;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans Condensed';  
  color: #88398A;
}
h1, .h1 {
  font-family: 'Open Sans Condensed';
  color: #88398A;
}

a {
  color: #181818;
  text-decoration: none;
  border-bottom: #562457 solid 1px;
  font-weight: bold;
}

a:hover, a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #88398A;
}

code a {
  border: none;
}

em, i {
  font-style: normal;
  background-color: #f9f2f4;
  background-color: rgba(0, 0, 0, 0.04);
}

.navbar {
  background: #d3d3d3;
  color: #181818;
  border: none;
}

.navbar-nav a {
  font-family: 'Open Sans Condensed'; 
  font-weight: normal;
  text-transform: uppercase;
  border: none;
}

.navbar-brand {
  font-family: 'Press Start 2P'; 
  border: none;
  font-size: 1em;
  line-height: 1em;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
  background-color:#d3d3d3;
}

.special {
  font-family: 'Open Sans Condensed'; 
  font-weight: normal;
  text-transform: none;
}

iframe {
  width: 100%;
  height: 90vh;
}